:root{
    --primaryColor: #c24682;
    --accentColor: #edeef4;
    --textColor: #6b6f81;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2vh 10%;
}

.logo img{
    max-width: 8.7vw;
    height: auto;

}
.navmenu{
    display: flex;
}

.navmenu a{
    color: var(--textColor);
    font-size: 1rem;
    text-transform: capitalize;
    padding: .6rem 1.2rem;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    color: var(--primaryColor);
}

.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    color: var(--textColor);
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}

.nav-icon i:hover{
    transform: scale(1.4);
    color:var(--primaryColor);
}

#menu-icon{
    font-size: 35px;
    color: var(--textColor);
    z-index: 10001;
    cursor: pointer;
}
.hamb{
    display: none;
}
section{
    padding: 5% 8%;

}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(img/banner-2.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
/* Estilos para o iPhone 12 Pro */
@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .main-home{
    display: none;
    }

/* Estilos para o iPhone 12 Pro */
}

@media screen and (max-width: 600px) {
    .main-home{
        height: 45vh;
        max-width: 100%;
        background-image: url(img/banner-12.png);
        background-size: cover;
    }
}

.main-text h5{
    color: var(--primaryColor);
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1{
    color: black;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn{
    display:inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    background-color: black;
    color: white;
}

.main-btn i{
    vertical-align:middle;
}

.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i {
    font-size: 30px;
    color: var(--textColor);
    border: 2px solid var(--textColor);
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover{
    background-color: var(--textColor);
    color: white;
    transition: all 0.42s ease;
}

header.sticky{
    background: white;
    padding: 1.25rem 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/*trending-sectiction-css*/
.center-texto h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;
}

.center-texto span{
    color: var(--primaryColor);
}

.produtos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap:2rem;
}
.row{
    position: relative;
    transition: all .40s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}

.row img:hover{
    transform: scale(0.9);
}

.produtos h5{
    position: absolute;
    top: 21px;
    left: 17px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}

.coracao-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}
.coracao-icon:hover{
    color: red;
}

.avaliacao i{
    color:#ff8c00 ;
    font-size: 18px;
}

.preco h4{
    color: #111;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
}

.preco p{
    color: #151515;
    font-size: 14px;
    font-weight: 600;

}

.cliente-avaliacao{
    background-color: #f3f4f6;
}

.avaliacao{
    text-align: center;
}

.avaliacao h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    text-align: center;
    font-weight: 700;
}

.avaliacao h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.avaliacao p{
    color:#707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}

.avaliacao img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
}

/*seção de atualiazações-css*/
.up-texto-central{
    text-align: center;
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 30px;
}

.atualizacao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px,auto));
    gap: 1rem;
}



.cart img{
    width: 360px;
    height: auto;
    border-radius: 5px;
}


.cart h5{
    color: #636872;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    font-weight: 500;

}


.cart h4{
    color: #111;
    font-size: 18px;
    font-weight: 600;
}

.cart p{
    color: #707070;
    font-size: 15px;
    max-width: 380px;
    text-align:justify;
    margin-bottom: 12px;
    line-height: 25px;
}

.cart h6{
    color: #151515;
    font-size: 14px;
    font-weight: 500;
}

.contato{
    background-color:#f3f4f6;
}

.contato-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
    gap: 3rem;
}

.contato-info h4{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.contato-info p{
    color:#565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contato-info p:hover{
    color: #ee1c47;

}

.social-icons i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.42s;

}

.social-icons i:hover{
    transform: scale(1.3);
}

.primeira-info img{
    width: 140px;
    height: auto;
}

.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 20px;

}

.end-text p {
    color: #111;
    text-transform: capitalize;

}

/*responsivo-css*/
@media(max-width:890px){
    header{
        padding: 1.24rem 3%;
        transition: .4s;
    }
}

@media(max-width:630px){
    .main-text h1{
        font-size: 50px;
        transition: .4s;
    }

    .main-text p{
        font-size: 18px;
        transition: .4s;
    }

    .main-btn{
        padding: 10px 20px;
        transition: all .4s;
    }
}
@media(max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background: #edfff1;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 120px 30px;
        transition: all .42s;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
    .hamb{
        display: block;
    }
}

